* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a, li, button {
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}
body {
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
    background-color: #080f2b;
}
header {
    position: sticky;
    top:0;
    padding: 1rem 5rem;
    background-color: hsla(225, 5%, 16%, 0.268);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    z-index: 2;
}
.logo {
    font-size: 2.5em;
    color: aliceblue;
    letter-spacing: 5px;
    font-family: 'Ubuntu', sans-serif;
}
.burger-menu {
    width: 45px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.line {
    height: 5px;
    background-color: aliceblue;
    border: 1px solid transparent;
    border-radius: 2px;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    column-gap: 1rem;
    text-align: center;
    height: 60vh;
    background-color: hsla(225, 5%, 16%, 0.268);
    backdrop-filter: blur(50px);
    top: 10vh;
    left: 0;
    width: 100vw;
    transition-duration: cubic-bezier(0.86, 0, 0.07, 1);
    transform: translateX(100%);
}
.navMenu-active {
    transform: translate(0%);
    
}
.fir-link {
    font-size: 1.6em;
    letter-spacing: 1px;
    color: #535353;
    transition: 0.3s;
    padding: 2rem 40vw;
}
li:first-child .fir-link {
    color: #f0f0f0;
} 
.fir-link:hover {
    color: #f0f0f0;
    background-color: hsla(0, 0%, 37%, 0.022);
    border-radius: 3px;
}
/**** LANDING PAGE SECTION ****/
.landing-page {
    position: relative;
    min-height: 90vh;
    padding: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 2rem;
}
.landing-page-disdain {
    z-index: -1;
}
.top-header {
    font-size: 3.5em;
    letter-spacing: 2px;
    color: white;
}
.lp-para {
    font-size: 1em;
    letter-spacing: 1px;
    color: white;
    margin-top: 2rem;
    width: 100%;
    line-height: 18px;
}
.gen-bg-div {
    max-width: 40vw;
    min-width: 30vw;
}
#generate {
    margin-top: 4rem;
    font-size: 1em;
    padding: 0.6rem 2rem;
    letter-spacing: 1px;
    background-color: #1E517F;
    border: 2px solid transparent;
    border-radius: 3px;
    color:white;
    cursor: pointer;
}
.right-side {
    background-color: hsla(208, 50%, 40%, 0.097);
    border: 2px solid transparent;
    border-radius: 3px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    text-align: center;
}
#gen-qoute {
    position: relative;
    font-size: 1.7em;
    letter-spacing: 2px;
    font-style: italic;
    color: azure;
    font-weight: 200;
    margin-bottom: 2rem;
}
#gen-text {
    color: aliceblue;
}
/**** LANDING PAGE SECTION ****/
/**** YAMA LAST ****/
.yama-last {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(207, 100%, 91%, 0.463);
}
.yl-para {
    font-size: 1em;
    letter-spacing: 1px;
    font-family: 'Nunito', sans-serif;
    color: aliceblue;
}
/**** YAMA LAST ****/
/**** MULTIPAGE SECTION TING$ ****/
.about-section, .how-to-use, .contacts-section {
    position: relative;
    min-height: 50vh;
    padding: 2rem;
}
.contacts-section {
    min-height: 30vh;
}
.about-section, .contacts-section {
    background-color: hsla(206, 8%, 16%, 0.463);
}
.about-text-block, .htu-text-block, .contact-text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
.abo-header, .htu-header{
    font-size: 2.5em;
    letter-spacing: 2px;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
}
.about-para {
    font-size: 1.3em;
    max-width: 70vw;
    letter-spacing: 2px;
    color:hsla(0, 0%, 100%, 0.846);
}
.htu-steps {
    display: flex;
    justify-content: space-around;
    column-gap: 1.5rem;
    align-items: center;
}
.steps {
    border: 2px solid transparent;
    border-radius: 3px;
    padding: 2rem;
    background-color: hsla(214, 100%, 9%, 0.8);
    backdrop-filter: blur(20px);
}
.step-header {
    font-size: 1.4em;
    letter-spacing: 1px;
    color: white;
}
.step-para {
    margin-top: 1rem;
    font-size: 1.3em;
    letter-spacing: 1px;
    color:hsla(0, 0%, 100%, 0.846);
    font-family: 'Nunito', sans-serif;
}
.step-img {
    width: 60%;
}
.signup-faq {
    font-size: 0.9em;
    letter-spacing: 2px;
    color: #02345f;
    transition: 0.2s;
}
.signup-faq:hover {
    color:hsla(207, 100%, 91%, 0.463);
}
/**** MULTIPAGE SECTION TING$ ****/

/**** FORM TINGS ****/
.form-body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#myForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 40vw;
    border: 2px solid transparent;
    border-radius: 3px;
    background-color: #4d7aa1bc;
    row-gap: 1rem;
    font-family: 'Nunito', sans-serif;
}
.form-h1 {
    color: hsla(207, 100%, 91%, 0.463);
    
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 3em;
}
.input-block-parent, .input-block-child {
    position: relative;
    display: flex;
    flex-direction: column;
}
.input-block-parent {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(5, 2fr);
    grid-template-areas:  
    "A B"
    "C C"
    "D D"
    "E E"
    "F F";
    column-gap: 1rem;
}
.input-block-child:first-child {
    grid-area: A;
}
.input-block-child:nth-child(2){
    grid-area: B;
}
.input-block-child:nth-child(3){
    grid-area: C;
}
.input-block-child:nth-child(4){
    grid-area: D;
}
.input-block-child:nth-child(5){
    grid-area: E;
}
.input-block-child:last-child  {
    grid-area: F;
}
label {
    font-size: 1.4em;
    letter-spacing: 1px;
    color: #080f2b;
    margin-bottom: 0.4rem;
}
input {
    padding: 0.6rem 0.6rem;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 1em;
    letter-spacing: 1px;
 }
input:focus {
    outline: 2px solid rgb(177, 194, 209);
}
.signup-faq {
    font-size: 0.9em;
    letter-spacing: 2px;
    color: #02345f;
    transition: 0.2s;
}
.signup-faq:hover {
    color:hsla(207, 100%, 91%, 0.463);
}
#formbtn {
    font-size: 1.4em;
    letter-spacing: 1px;
    padding: 0.7rem 0;
    width: 85%;
    background-color: #1E517F;
    color:hsla(207, 100%, 91%, 0.463);
    border: 1px solid transparent;
    border-radius: 2px;
}
#formbtn:hover {
    background-color: #1961a0;
    color:hsla(0, 0%, 100%, 0.846);
}
/**************************************/

/**************************************/
.input-block-child {
    position: relative;
    display: flex;
    flex-direction: column;
}
.input-block-parent-login {
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    column-gap: 1rem;
}
/***************************************/

/**** FORM TINGS ****/

/**** JAVASCRIPT REACTIONS ****/
.message, .lnmessage, .nummessage, .emamessage, .passmessage,.conpassmessage {
    margin-top: 0.2rem;
    color: #ff3300;
}
.input-error-active {
    border: 1px solid orangered;
 }
.input-success-active {
    border: 2px solid rgb(0, 119, 255);
}
/**** JAVASCRIPT REACTIONS ****/

/**** JAVASCRIPT EFFECTS ****/
.none {
    filter: opacity(0);
}
.navbar-active {
    transform: translate(0%);
}
/**** JAVASCRIPT EFFECTS ****/

/**** USER-INTERFACE STUFFF ****/
.ui-layout {
    position: relative;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}
.artists-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    column-gap: 1rem;
}
.artist {
    background-color: hsla(225, 5%, 16%, 0.268);
    padding: 0.8rem 1rem;
    border-radius: 30px;
    transition-duration: 0.3s;
}
.artist:focus,
.artist:hover {
    background-color: hsla(230, 4%, 30%, 0.268);
}
.chosen {
    background-color: hsla(231, 3%, 41%, 0.337);
}
.art-name {
    color: rgb(179, 179, 179);
    letter-spacing: 1px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}
.art-name:focus,
.art-name:hover {
    color: rgb(227, 225, 225);
}
.art-name, .artist {
    cursor: pointer;
}
.visual-qoute-block {
    width: 60vw;
    height: 60vh;
    background-color:  hsla(225, 5%, 16%, 0.268);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ri-qo-gen {
    color: aliceblue;
    font-size: 1.3em;
    letter-spacing: 1px;
    font-style: italic;
    font-family: 'Nunito', sans-serif;
}
#ui-btn {
    border: 2px solid transparent;
    padding: 0.6rem 4rem;
    font-size: 1.2em;
    color: rgb(179, 179, 179);
    letter-spacing: 1px;
    font-family: 'Nunito', sans-serif;
    background-color: hsla(225, 98%, 17%, 0.268);
    border-radius: 10px;
    transition-duration: 0.3s;
}
#ui-btn:hover {
    background-color: hsla(208, 95%, 36%, 0.449);
}
#ui-btn:active {
    color: dodgerblue;
}
/**** USER-INTERFACE STUFFF ****/